___
# Курс Карпова "Введение в Data science и машинное обучение"
___

Разница между Data analyst, Data engeneer, ML engeneer и остальными

Domain - знания в области и общение с заказчиком, Math - математика, Dev - программная часть

![title](Pic_1.png)

1) В решении задач очень важно уметь ПЕРЕФОРМУЛИРОВАТЬ задачу на язык ML;

2) Далее необходимо подготовить данные

3) Применение ML 

4) Валидация. Валидация - проверка того, что можеть может выдавать предсказание выше случайного

Фича - (независимое) свойство объекта для отнесения к одному или другому классу

Целевая переменная (зависимое свойство) - это сам класс

Модель - это такая штука, которая получает информацию об объекте и относит его к тому или иному классу

Линейная регрессия - это подбор коэффициентов прямой, чтобы среднеквадратичная ошибка была минимальная

![title](Pic_2.png)
![title](Pic_3.png)

Обучить модель машинного обучения ЗНАЧИТ на основании конечного набора примеров добиться того, чтобы на других примерах мочь делать правильные предсказания

In [14]:
import pandas as pd
import numpy as np

In [18]:
students_performanse = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [20]:
students_performanse.head() # Вывод первых 5 строчек

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [21]:
students_performanse.tail() # Вывод последних 5 строчек

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [22]:
students_performanse.describe() # вывод основных параметров данных

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [23]:
students_performanse.dtypes # вывод типов данных столбцов

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [24]:
students_performanse.shape # вывод размерности DataFrame

(1000, 8)

Методы можно по-хитрому объединять, например, для группировки

In [29]:
students_performanse.groupby('gender').aggregate({'writing score': 'mean'})
# Далее по сути выводится средний балл по каждому полу

        writing score
gender
female      72.467181
male        63.311203

In [31]:
students_performanse.size # произведение колонок на строки

8000

___
### Основные операции с DataFrame
___

In [32]:
students_performanse.head() # Вывод первых 5 строчек

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Вывод элементов DataFrame по индексам осуществляется через метод .iloc так:

In [41]:
students_performanse.iloc[0:5, 0:3] # Метод iloc (integer location) - типа позиции
# По сути, это обращение к элементам dataframe по индексам

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [36]:
students_performanse[0:5, 0:3] # А так не рабоатет

TypeError: '(slice(0, 5, None), slice(0, 3, None))' is an invalid key

In [40]:
students_performanse.iloc[[0, 3, 9, -1], [-1, -2, -3]] # Метод iloc (integer location) - типа позиции

     writing score  reading score  math score
0               74             72          72
3               44             57          47
9               50             60          38
999             86             86          77

Вывод элементов DataFrame по названиям осуществляется через метод .loc так:

(но сначала немного подготовки)

Выделим определенные строки (индексы в смысле DataFrame-ов):

In [74]:
students_performanse_with_names = students_performanse.iloc[[0, 3, 4, 7, 8]]

In [75]:
students_performanse_with_names.index = ['Cersei', 'Tywin', 'Gregor', 'Joffrey', 'Ilyn Payne']

In [76]:
students_performanse_with_names

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
Cersei,female,group B,bachelor's degree,standard,none,72,72,74
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Gregor,male,group C,some college,standard,none,76,78,75
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67

In [49]:
students_performanse_with_names.loc[['Cersei', 'Joffrey'], ['gender', 'writing score']]

         gender  writing score
Cersei   female             74
Joffrey    male             39

___
Серии (Series) в pandas

Серия - это такой список с именами (labels) элементов
___

In [50]:
students_performanse_with_names.iloc[:, 0]

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

In [51]:
type(students_performanse_with_names.iloc[:, 0])

pandas.core.series.Series

In [54]:
pd.Series([1, 2, 3], index=['Cersei', 'Tywin', 'Gregor'])

Cersei    1
Tywin     2
Gregor    3
dtype: int64

In [53]:
type(pd.Series([1,2,3]))

pandas.core.series.Series

___
А DataFrame сам по себе представляет из себя всего лишь Серии (столбцы) с названиями (названия стоблцов)
___

In [56]:
my_series_1 = pd.Series([1, 2, 3], index=['Cersei', 'Tywin', 'Gregor'])
my_series_2 = pd.Series([4, 5, 6], index=['Cersei', 'Tywin', 'Gregor'])

In [57]:
pd.DataFrame({'col_name_1':my_series_1, 'col_name_2':my_series_2})

        col_name_1  col_name_2
Cersei           1           4
Tywin            2           5
Gregor           3           6

Таким образом, можно к датафрейму обращаться по именам серий (и, как ни странно, получать серии):

Причем можно при обращении получить как серию, так и датафрейм из одного столбца:

In [59]:
students_performanse_with_names['gender']

Cersei        female
Tywin           male
Gregor          male
Joffrey         male
Ilyn Payne      male
Name: gender, dtype: object

In [60]:
students_performanse_with_names[['gender']]

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

In [61]:
students_performanse.iloc[0:7]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [62]:
students_performanse.iloc[:7]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [63]:
students_performanse.head(7)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

In [65]:
students_performanse.loc[:7]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39

In [66]:
students_performanse.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [67]:
students_performanse.shape

(1000, 8)

In [68]:
students_performanse.size

8000

In [72]:
students_performanse.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [73]:
students_performanse.index

RangeIndex(start=0, stop=1000, step=1)

In [75]:
students_performanse.dtypes.value_counts()

object    5
int64     3
dtype: int64

___
Какая-то задача
____

In [76]:
titan_ds = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')

In [77]:
titan_ds.shape

(891, 12)

In [78]:
titan_ds.dtypes.value_counts()

object     5
int64      5
float64    2
dtype: int64

In [80]:
titan_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

___
# Фильтрация Dataframe-ов
___

In [1]:
import pandas as pd
import numpy as np

In [2]:
students_performanse = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [3]:
students_performanse.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
students_performanse.gender == 'female'

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999     True
Name: gender, Length: 1000, dtype: bool

___
Отфильтровать записи (строки) можно следующим образом:

По сути мы просим вывести те записи, для которых значение gender True или False
___

In [8]:
students_performanse.loc[students_performanse.gender == 'female', ['gender', 'writing score']]
# По сути мы просим вывести те строки в которых gender == female и при этом из таких записей
# вывести только столбцы gender и writing score

     gender  writing score
0    female             74
1    female             88
2    female             93
5    female             78
6    female             92
..      ...            ...
993  female             74
995  female             95
997  female             65
998  female             77
999  female             86

[518 rows x 2 columns]

Выведем только те записи, у которых значение "writing score" больше среднего

In [10]:
mean_writing_score = students_performanse['writing score'].mean()

In [11]:
students_performanse.loc[students_performanse['writing score'] > mean_writing_score]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

___
В pandas нельзя использовать and к сериям. Это значит, что если мы хотим сделать совместный фильтр по нескольким условиям, то применять and или or нельзя. Необходимо применять перегруженные операторы & и |. Причем оччень важно понимать, что такие операторы имеют бОльший приоритет, чем другие логические (но не арифметические операции). 

Пример неправильного использования:

In [12]:
students_performanse['writing score'] > mean_writing_score and students_performanse.gender == 'female'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Данная ошибка говорит, что нельзя применять логический оператор and к серии (а сравнение идет именно серий)

Пример правильного использования:

In [15]:
query = (students_performanse['writing score'] > mean_writing_score) & (students_performanse.gender == 'female')

In [16]:
students_performanse.loc[query]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

___
Вопрос: у какой доли студентов в графе lunch указано "free/reduced"?

Решение ниже:

In [17]:
query = (students_performanse.lunch == 'free/reduced')

In [22]:
students_performanse.loc[query].shape[0]/students_performanse.shape[0]

0.355

___
Вопрос: Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

In [30]:
students_performanse.loc[students_performanse.lunch == 'free/reduced'].mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [31]:
students_performanse.loc[students_performanse.lunch != 'free/reduced'].mean()

math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64

In [34]:
students_performanse.loc[students_performanse.lunch == 'free/reduced'].var()

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [35]:
students_performanse.loc[students_performanse.lunch != 'free/reduced'].var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

___
В случае, если столбцы имеют имена с пробелов -- обращаться к ним через точку (как к атрибуту dataframe) нельзя, надо как в примере выше обращаться через []
students_performanse['writing score']. Это, само собой, неудобно, поэтому необходимо переименовать стоблцы так, чтобы их название было одним словом.

Переименование столбцов происходит следующим образом:

In [38]:
students_performanse = students_performanse \
    .rename(columns = 
           {'parental level of education': 'parental_level_of_education',
            'test preparation course': 'test_preparation_course',
            'math score': 'math_score',
            'writing score': 'writing_score',
            'reading score': 'reading_score'})

In [39]:
students_performanse

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [43]:
students_performanse.math_score

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

___
Также есть возможность задавать запросы (query) методом .query:

In [48]:
students_performanse.query('writing_score == 78').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
5,female,group B,associate's degree,standard,none,71,83,78
15,female,group C,some high school,standard,none,69,75,78
144,male,group D,some college,standard,none,88,73,78
156,female,group E,high school,free/reduced,completed,66,74,78
167,female,group B,master's degree,free/reduced,completed,58,76,78

In [49]:
students_performanse.query('writing_score > 78').head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80

In [52]:
students_performanse.query("(gender == 'female') & (writing_score > 78)").head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
36,female,group D,associate's degree,standard,none,74,81,83
38,female,group D,associate's degree,free/reduced,completed,75,90,88

Если мы хотим обращаться к какой-либо переменной, то надо её экранировать символом @

In [60]:
writing_score_query = 85

In [58]:
students_performanse.query("writing_score > writing_score_query").head() # Неверно

UndefinedVariableError: name 'writing_score_query' is not defined

In [62]:
students_performanse.query("writing_score > @writing_score_query").head() # верно

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
38,female,group D,associate's degree,free/reduced,completed,75,90,88

___
Метод отбора определенных колонок
___

In [63]:
students_performanse[['math_score', 'reading_score']].head()

   math_score  reading_score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78

___
Можно получить названия всех колонок довольно просто двумя способами:

Первый состоит в работе с датафреймом как с элементом питона

In [65]:
list(students_performanse)

['gender',
 'race/ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score']

Получение всех колонок, у которых в названии есть слово "score" в названии

In [67]:
score_columns = [i for i in list(students_performanse) if 'score' in i]

In [68]:
score_columns

['math_score', 'reading_score', 'writing_score']

In [69]:
students_performanse[score_columns].head()

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

Второй способ состоит в методе .filter:

In [72]:
students_performanse.filter(like='score').head() # like -- содержит значение "score"

   math_score  reading_score  writing_score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [82]:
students_performanse_with_names.filter(like='co') # выделение всех колонок, у которых есть "со" в названии

           test_preparation_course  math_score  reading_score  writing_score
Cersei                        none          72             72             74
Tywin                         none          47             57             44
Gregor                        none          76             78             75
Joffrey                       none          40             43             39
Ilyn Payne               completed          64             64             67

In [85]:
students_performanse_with_names.filter(like='y', axis=0) # выделение всех колонок, у которых есть "со" в названии

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
Tywin,male,group A,associate's degree,free/reduced,none,47,57,44
Joffrey,male,group B,some college,free/reduced,none,40,43,39
Ilyn Payne,male,group D,high school,free/reduced,completed,64,64,67