___
# Курс Карпова "Введение в Data science и машинное обучение"
___

Разница между Data analyst, Data engeneer, ML engeneer и остальными

Domain - знания в области и общение с заказчиком, Math - математика, Dev - программная часть

![title](Pic_1.png)

1) В решении задач очень важно уметь ПЕРЕФОРМУЛИРОВАТЬ задачу на язык ML;

2) Далее необходимо подготовить данные

3) Применение ML 

4) Валидация. Валидация - проверка того, что можеть может выдавать предсказание выше случайного

Фича - (независимое) свойство объекта для отнесения к одному или другому классу

Целевая переменная (зависимое свойство) - это сам класс

Модель - это такая штука, которая получает информацию об объекте и относит его к тому или иному классу

Линейная регрессия - это подбор коэффициентов прямой, чтобы среднеквадратичная ошибка была минимальная

![title](Pic_2.png)
![title](Pic_3.png)

Обучить модель машинного обучения ЗНАЧИТ на основании конечного набора примеров добиться того, чтобы на других примерах мочь делать правильные предсказания

In [14]:
import pandas as pd
import numpy as np

In [18]:
students_performanse = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [20]:
students_performanse.head() # Вывод первых 5 строчек

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [21]:
students_performanse.tail() # Вывод последних 5 строчек

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [22]:
students_performanse.describe() # вывод основных параметров данных

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [23]:
students_performanse.dtypes # вывод типов данных столбцов

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object